<form class="form-horizontal" (ngSubmit)="onSubmit()" #editform="ngForm">
    <div class="form-group">
        <label for="inputDate" class="col-md-2 control-label">Date</label>
        <div class="col-md-8">
            <input type="date" class="form-control" id="inputDate" placeholder="Date" [(ngModel)]="topicInfo.date" name="date" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-md-2 control-label">Title</label>
        <div class="col-md-8">
            <input class="form-control" id="inputTitle" placeholder="Title" required [(ngModel)]="topicInfo.title" name="title">
        </div>
    </div>
    <div class="form-group">
        <label for="inputKeyword" class="col-md-2 control-label">Keyword</label>
        <div class="col-md-8">
            <input class="form-control" id="inputKeyword" placeholder="Keyword" required [(ngModel)]="topicInfo.keyword" name="keyword">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-md-2 control-label">Description</label>
        <div class="col-md-8">
            <input class="form-control" id="inputDescription" placeholder="Description" required [(ngModel)]="topicInfo.description" name="description">
        </div>
    </div>

    <article-list (articleRequested)="articleListRequestedHandler($event)" (newPageRequested)="newPageRequestedHandler($event)"
                  (articleListOnInit)="articleListOnInitHandler()"></article-list>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-default active" [disabled]="!editform.form.valid">Add topic</button>
        </div>
    </div>
</form>
