<form class="form-horizontal" (ngSubmit)="onSubmit(editform)" #editform="ngForm">
    <div class="form-group">
        <label for="inputDate" class="col-md-2 control-label">Date</label>
        <div class="col-md-8">
            <input type="date" class="form-control" id="inputDate" placeholder="Date" ngModel name="date" #date="ngModel" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-md-2 control-label">Title</label>
        <div class="col-md-8">
            <input class="form-control" id="inputTitle" placeholder="Title" ngModel required name="title" #title="ngModel">
        </div>
    </div>
    <div class="form-group">
        <label for="inputKeyword" class="col-md-2 control-label">Keyword</label>
        <div class="col-md-8">
            <input class="form-control" id="inputKeyword" placeholder="Keyword" ngModel required name="keyword" #keyword="ngModel">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-md-2 control-label">Description</label>
        <div class="col-md-8">
            <input class="form-control" id="inputDescription" placeholder="Description" ngModel required name="description" #description="ngModel">
        </div>
    </div>

    <article-list (articleRequested)="articleListRequestedHandler($event)" (newPageRequested)="newPageRequestedHandler($event)"></article-list>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button type="submit" class="btn btn-default active" [disabled]="!editform.form.valid">Add topic</button>
        </div>
    </div>
</form>